@model IEnumerable<DevPhone.Models.MDispositivo>

<h2>Dispositivos</h2>
<table class="table">
    <thead>
        <tr>
            <th>Modelo</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    <tr>
        <td>@item.Modelo</td>
    </tr>
}
    </tbody>
</table>
