@model IEnumerable<DevPhone.Models.MCliente>

<h2>Clientes</h2>
<p>
    <a asp-action="Create">Nuevo Cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Direccion</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    <tr>
        <td>@item.Nombre</td>
        <td>@item.Apellido</td>
        <td>@item.Direccion</td>
    </tr>
}
    </tbody>
</table>
