@model IEnumerable<DevPhone.Models.MRepuesto>

<h2>Repuestos</h2>
<p>
    <a asp-action="Create">Nuevo Repuesto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    <tr>
        <td>@item.Nombre</td>
        <td>@item.Precio</td>
    </tr>
}
    </tbody>
</table>
