@model IEnumerable<DevPhone.Models.MOrdenServicio>

<h2>Ordenes de Servicio</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Dispositivo</th>
            <th>Fecha</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    <tr>
        <td>@item.Id</td>
        <td>@item.Dispositivo?.Modelo</td>
        <td>@item.FechaCreacion.ToShortDateString()</td>
        <td><a asp-action="Details" asp-route-id="@item.Id">Detalles</a></td>
    </tr>
}
    </tbody>
</table>
